@using Portfolio.Data
<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col text-center">
            <h2>@ProjectName</h2>
            <span id="project-date">
                <i>@Date</i>
            </span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col text-center">
            <img src=@PhotoAddress alt=@PhotoDescription class="img img-fluid" width=@PhotoWidth>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 mb-2">
            <h4>Description</h4>
            <span class="mt-5">
                @ChildContent
            </span>
            <div class="row mt-3 mb-3">
                <div class="col text-lg-start">
                    <a href=@GithubAddress target="_blank">
                        <button type="button" class="btn btn-dark" style="width: 8rem">
                            <div class="row row-cols-2">
                                <img src="Images/github.svg" alt="Github" class="github-image"/>
                                <div class="github-container">
                                    <span><b>Github</b></span>
                                </div>
                            </div>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h4>Technologies</h4>
            <div class="tech mt-4">
                @foreach (var tech in Techs) {
                    <Technology Type="tech"/>
                } 
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string ProjectName { get; set; }

    [Parameter]
    public string Date { get; set; }

    [Parameter]
    public string PhotoAddress { get; set; }

    [Parameter]
    public string PhotoDescription { get; set; }

    [Parameter]
    public Tech[] Techs { get; set; }

    [Parameter]
    public string GithubAddress { get; set; }
    
    [Parameter]
    public string PhotoWidth { get; set; }
}