@using Portfolio.Data
@using Portfolio.Services

<div class="container">
    <div class="row">
        <div class="col-1 mb-2">
           <object data=@Type.GetImageAddress() type="image/svg+xml" class="tech-icon"></object>
        </div>
        <div class="col-11 pt-1">
           <span>@Type.GetName()</span><br> 
        </div>
    </div>
</div>



@code {
    [Parameter]
    public Tech Type { get; set; }
    
}