@page "/AboutMe"
@page "/"

<div class="container mt-5">
   <div class="row">
      <div class="col col-md-2 text-center mb-5" >
         <img src="Images/bella.jpg" alt="profile-photo" class="img-fluid img-thumbnail profile-photo">
      </div>
      <div class="col-12 col-md-10">
         <h1>Hello world!</h1>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae aliquet nisi. Suspendisse euismod, erat at 
         dictum aliquet, justo neque gravida est, ut cursus enim enim sed nisi. In orci lacus, vehicula sit amet purus 
         vel, tempor pellentesque dui. Vivamus varius, libero ut porttitor tincidunt, ante velit ultrices nulla, varius 
         molestie augue mi id sapien. Aliquam euismod et ligula a pharetra. Sed elit dolor, imperdiet sed malesuada ut, 
         fringilla id nisl. Duis ut nisi ac ipsum tincidunt gravida. Etiam porta erat sit amet dui pulvinar vulputate 
         efficitur nec nisl. Ut fringilla neque in viverra pretium.
      </div>
   </div>
</div>


