@page "/AboutMe"
@page "/"

<div class="container mt-5">
   <div class="row">
      <div class="col col-md-2 text-center mb-5" >
         <img src="Images/bella.jpg" alt="profile-photo" class="img-fluid img-thumbnail">
      </div>
      <div class="col-12 col-md-10">
         <h1>Hello world!</h1>
         I started programming in 2019 and since then it has become my passion. My first choice was Python, currently, 
         I am focused on becoming a fullstack using .NET and Vue. 
         I like to learn in my free time and develop projects that help me in everyday life.  
         I care about details and I can independently plan the implementation of tasks entrusted to me.
      </div>
   </div>
</div>

<div class="container mt-3">
   <div class="row mb-3">
      <div class="col-12 col-md-12">
         <h3>Contact</h3>
      </div>
   </div>
   
   <div class="row mb-2">
      <div class="col-1">
         <img src="Images/LI-Logo.png" alt="LinkedIn-logo" class="img-fluid contact-photo">
      </div>
      <div class="col-11 align-self-center">
         <a href="https://www.linkedin.com/in/katarzyna-k%C4%85dzio%C5%82ka-7610a6201/" target="_blank">Katarzyna Kądziołka</a>
      </div>
   </div>
   <div class="row mb-2">
      <div class="col-1">
         <img src="Images/GitHub_Logo_White.png" alt="GitHub-logo" class="img-fluid contact-photo">
      </div>
      <div class="col-11 align-self-end">
         <a href="https://github.com/Katarzyna-Kadziolka" target="_blank">Katarzyna Kądziołka</a>
      </div>
   </div>
   <div class="row mb-2">
         <div class="col-1">
            <img src="Images/logo_gmail_lockup_dark_1x_r2.png" alt="gmail-logo" class="img-fluid contact-photo" >
         </div>
         <div class="col-11 align-self-end">
            <a href="mailto:asiakadziolka@gmail.com">kasiakadziolka@gmail.com</a> 
         </div>
      </div>
</div>


