@using BlazorTimeline
@page "/Timeline"

<Timeline
    Title="My timeline"
    TitleBgColor="#4169E1"
    TitleColor="#FFFFFF"
    TextColor="#F3F3F3"
    TextBgColor="#212121"
    ItemPositionOption="@ItemPositionOption.AutoAltering">

    <TimelineItem Title="OEC Internship" Time="01.07.2021">
        Here we can write description :) And even add some buttons!
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/oec.svg" alt="oec-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="MTA-98-366 Networking Fundamentals" Time="12.05.2021">
        <span>Timeline item can be altered to appear on the right! </span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/microsoft_small.png" alt="microsoft-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="Athena" Time="11.2020 - 05.2021" ButtonText="Github" Link="https://github.com/Katarzyna-Kadziolka/Athena">
        <span>Athena</span>
    </TimelineItem>

    <TimelineItem Title="MTA 98-364 Database Fundamentals" Time="14.01.2021">
        <span>Timeline item can be altered to appear on the right! </span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/microsoft_small.png" alt="microsoft-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="CatFacts.Net" Time="11.2020 - 12.2020" ButtonText="Github" Link="https://github.com/Katarzyna-Kadziolka/CatFacts.Net">
        <span>CatFacts.Net</span>
    </TimelineItem>

    <TimelineItem Title="ASP.NET Core - Developing Application" Time="14.11.2021">
        <span>Timeline item can be altered to appear on the right! </span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/strefa-kursow.svg" alt="strefa-kursow-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="Chronos" Time="10.2020 - 11.2020" ButtonText="Github" Link="https://github.com/Katarzyna-Kadziolka/Chronos">
        <span>Chronos</span>
    </TimelineItem>

    <TimelineItem Title="LINQ programming course - C#" Time="7.11.2021">
        <span>Timeline item can be altered to appear on the right! </span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/strefa-kursow.svg" alt="strefa-kursow-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="TimeLibrary" Time="11.2020" ButtonText="Github" Link="https://github.com/Katarzyna-Kadziolka/TimeLibrary">
        <span>TimeLibrary</span>
    </TimelineItem>

    <TimelineItem Title="1st Place Hackathon Sheep Your Hack 2" Time="17.11.2021">
        <span>Timeline item can be altered to appear on the right! </span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/sheep_your_hack.png" alt="sheep-your-hack-logo" width="300px">
        </div>
    </TimelineItem>

    <TimelineItem Title="Cerebri" Time="08.2020 - 11.2020" ButtonText="Github" Link="https://github.com/Katarzyna-Kadziolka/PomodoroApp">
        <span>Chronos</span>
    </TimelineItem>

    <TimelineItem Title="C# fundamentals" Time="30.10.2021">
        <span>Timeline item can be altered to appear on the right! </span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/strefa-kursow.svg" alt="strefa-kursow-logo" width="200px">
        </div>
    </TimelineItem>
    
    <TimelineItem Title="College of Economics and Computer Science" Time="10.2020">
        <span>Timeline item can be altered to appear on the right! </span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/wsei.png" alt="wsei-logo" width="200px">
        </div>
    </TimelineItem>
    
    <TimelineItem Title="Cthulhu Character Wizard" Time="04.2020 - 08.2020" ButtonText="Github" Link="https://github.com/Katarzyna-Kadziolka/Cthulhu-character-wizard">
        <span>Cthulhu Character Wizard</span>
    </TimelineItem>
    
    <TimelineItem Title="Hello World!" Time="11.2019">
        <span>Start</span>
    </TimelineItem>

</Timeline>