@using BlazorTimeline
@page "/Timeline"

<Timeline
    Title="My timeline"
    TitleBgColor="#4169E1"
    TitleColor="#FFFFFF"
    TextColor="#F3F3F3"
    TextBgColor="#212121"
    ItemPositionOption="@ItemPositionOption.AutoAltering">
    
    <TimelineItem Title="2nd Place Aquathon" Time="7.11.2021">
        <span>I've attended Aquathon hackathon with three of my friends and took second place. We've made a web app called
            Raindrop, which helps to set up and manage backyard rainwater tanks. I was responsible for creating an 
            educational website designed to help people choose the right tank and get grants.</span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/aquathon_logo.png" alt="aquathon-logo" width="300px">
        </div>
    </TimelineItem>

    <TimelineItem Title="MediatR.AspNet" Time="10.2021 - 11.2021" ButtonText="Github" Link="https://github.com/MossPiglets/MediatR.AspNet">
        <span>I've written the library to support CQRS for MediatR in ASP.Net.</span>
    </TimelineItem>

    <TimelineItem Title="Urania" Time="08.2021 - 10.2021" ButtonText="Github" Link="https://github.com/MossPiglets/Urania">
        <span>I've developed calculator of wire parameters for Bruxa Jewelry in order to simplify choosing the right material for chainmaille jewelry.</span>
    </TimelineItem>

    <TimelineItem Title="C# - generic types" Time="30.09.2021">
        <span>I've completed C# generic course covering generic types and collections.</span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/strefa-kursow.svg" alt="strefa-kursow-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="OEC Internship" Time="01.07.2021 - 30.09.2021">
        <span>My first internship was at OEConnection, which makes software for many automotive companies.
            I was working with Vue.js and .Net Core (C#).</span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/oec.svg" alt="oec-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="TypeScript" Time="03.09.2021">
        <span>I've completed TypeScript basic course covering classes, typing and decorators.</span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/strefa-kursow.svg" alt="strefa-kursow-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="Vue.js - advanced" Time="28.08.2021">
        <span>I've completed Vue.js advanced course, which explains more complicated topics like directives,
            Vue-axios, Vuelidate, autentication, tests and Vuetify.
        </span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/strefa-kursow.svg" alt="strefa-kursow-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="Witcher Tools" Time="08.2021" ButtonText="Github" Link="https://github.com/Katarzyna-Kadziolka/WitcherTools">
        <span>I've developed Rest API, tools for the TTRPG The Witcher. It returns alchemical recipes.</span>
    </TimelineItem>

    <TimelineItem Title="Vue.js - from scratch" Time="29.07.2021">
        <span>I've completed Vue.js begginer course covering components, filters, mixins, Vue-router and Vuex.</span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/strefa-kursow.svg" alt="strefa-kursow-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="MTA 98-361 Software Development Fundamentals" Time="11.06.2021">
        <span>
            I gained a certificate which includes knowledge of structural and object-oriented programming, algorithms,
            HTML, CS, JS, WSDL, SOAP, SQL, development, and implementation of web applications in ASP.NET technology
            and software for Windows platform.
        </span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/microsoft_small.png" alt="microsoft-logo" width="200px">
        </div>
    </TimelineItem>


    <TimelineItem Title="Athena" Time="11.2020 - 06.2021" ButtonText="Github" Link="https://github.com/MossPiglets/Athena">
        <span>I've developed home book collection management application developed in a three-person team using WPF, C# and .Net</span>
    </TimelineItem>

    <TimelineItem Title="MTA 98-366 Networking Fundamentals" Time="12.05.2021">
        <span>I've got the certificate, which covered an introduction to LANs, networks and OSI models, network services, a discussion
            of IP, wide area networks, and network infrastructure and security. </span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/microsoft_small.png" alt="microsoft-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="MTA 98-364 Database Fundamentals" Time="14.01.2021">
        <span>I've got the certificate, which covered understanding core database concepts, creating database objects, manipulating
            data, understanding data storage, and administering a database. </span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/microsoft_small.png" alt="microsoft-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="CatFacts.Net" Time="11.2020 - 12.2020" ButtonText="Github" Link="https://github.com/Katarzyna-Kadziolka/CatFacts.Net">
        <span>"I've developed a client library for REST API, written in C# and .Net</span>
    </TimelineItem>

    <TimelineItem Title="ASP.NET Core - Developing Application" Time="14.11.2020">
        <span>I've completed the course, which presented a complete process of building applications using ASP.NET and C#.</span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/strefa-kursow.svg" alt="strefa-kursow-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="LINQ programming course - C#" Time="7.11.2020">
        <span>I've completed the LINQ course covering basic queries, filtering, sorting, displaying, merging, grouping, and
            aggregating data.</span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/strefa-kursow.svg" alt="strefa-kursow-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="TimeLibrary" Time="11.2020" ButtonText="Github" Link="https://github.com/Katarzyna-Kadziolka/TimeLibrary">
        <span>I've developed the C# library to store Time. Meets best practices associated with library development using C# and .NET </span>
    </TimelineItem>

    <TimelineItem Title="1st Place Hackathon Sheep Your Hack 2" Time="17.11.2020">
        <span>I've attended SheepYourHack 2 hackathon with two of my friends and won. We've made a web app called
            Printy, which solves the problem of difficult access to printing spots. I was responsible for project
            management, presentation, and business development.</span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/sheep_your_hack.png" alt="sheep-your-hack-logo" width="300px">
        </div>
    </TimelineItem>

    <TimelineItem Title="Chronos" Time="10.2020 - 11.2020" ButtonText="Github" Link="https://github.com/Katarzyna-Kadziolka/Chronos">
        <span>I've written the web application that helps to organize time and tasks, created with ASP.Net and C#</span>
    </TimelineItem>

    <TimelineItem Title="Cerebri" Time="08.2020 - 11.2020" ButtonText="Github" Link="https://github.com/Katarzyna-Kadziolka/PomodoroApp">
        <span>I've written a simple application that helps me with concentration, work, and study. I was learning C#
            and WPF this way.</span>
    </TimelineItem>

    <TimelineItem Title="C# fundamentals" Time="30.10.2021">
        <span>I completed a course covering the basics of C#, including creating classes and objects, exception
            handling, the basics of object-oriented programming, using variables, arrays, conditional statements, and
            working with abstract classes. </span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/strefa-kursow.svg" alt="strefa-kursow-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="College of Economics and Computer Science" Time="10.2020">
        <span>I've started my studies at the College of Economics and Computer Science in Cracow, majoring in Computer
            Science and Econometrics</span>
        <div class="d-flex justify-content-center pt-4">
            <img src="Images/wsei.png" alt="wsei-logo" width="200px">
        </div>
    </TimelineItem>

    <TimelineItem Title="Cthulhu Character Wizard" Time="04.2020 - 08.2020" ButtonText="Github" Link="https://github.com/Katarzyna-Kadziolka/Cthulhu-character-wizard">
        <span>I wrote my first desktop application to generate characters in the RPG Call of Cthulhu, created with
            TkInter and Python</span>
    </TimelineItem>

    <TimelineItem Title="Hello World!" Time="11.2019">
        <span>I have started my adventure with programming! The first language I learned was Python. I gained knowledge
            about the syntax of the language and algorithmics by solving tasks from Project Euler and Programming
            Challenges.</span>
    </TimelineItem>

</Timeline>