@page "/Projects"
@using Portfolio.Data

<div class="container mt-3">
    <div class="row">
        <div class="col-12 text-center">
            <h1>My projects!</h1>
        </div>
    </div>
</div>
<Project ProjectName="Athena" Date="05.2021" PhotoAddress="Images/Projects/athena_screen.png" PhotoDescription="Athena" 
         Techs="new[] {Tech.Wpf, Tech.Csharp}" GithubAddress="https://github.com/MossPiglets/Athena">
    OPIsssisisisis
</Project>