@page "/Projects"
@using Portfolio.Data

<div class="container mt-3">
    <div class="row">
        <div class="col-12 text-center">
            <h1>My projects!</h1>
        </div>
    </div>
</div>

<Project ProjectName="Raindrop" Date="7.11.2021" PhotoAddress="Images/Projects/Raindrop.png" PhotoDescription="Raindrop"
         Techs="new[] { Tech.Vue, Tech.Js, Tech.Html5, Tech.Css3, Tech.Git, Tech.VisualStudioCode}"
         GithubAddress="https://github.com/DzordzoMen/raindrop" PhotoWidth="100%">
    A web application called Raindrop is used to set up and manage backyard rainwater tanks. Made at Aquathon. I was 
    responsible for creating an educational website designed to help people choose the right tank and get grants.<br>
    <a href="https://dzordzomen.github.io/raindrop/">-> Raindrop</a>
</Project>
<Project ProjectName="MediatR.AspNet" Date="11.2021" PhotoAddress="Images/Projects/MediatR.png" PhotoDescription="MediatR github"
         Techs="new[] {Tech.RestApi, Tech.AspNet, Tech.UnitTests, Tech.Csharp, Tech.DotNet, Tech.Git, Tech.Rider}"
         GithubAddress="https://github.com/MossPiglets/MediatR.AspNet" PhotoWidth="100%">
    MediatR.AspNet is a CQRS (Command and Query Responsibility Segregation) support for MediatR in ASP.Net. Helps to 
    implement CQRS pattern into RestApi.
</Project>
<Project ProjectName="Urania" Date="10.2021" PhotoAddress="Images/Projects/Urania.png" PhotoDescription="Urania"
         Techs="new[] {Tech.Csharp, Tech.DotNet, Tech.Wpf, Tech.Git, Tech.VisualStudio}"
         GithubAddress="https://github.com/MossPiglets/Urania" PhotoWidth="50%">
    Urania is a calculator of wire parameters developed for Bruxa Jewelry in order to simplify choosing the right material 
    for chainmaille jewelry.
</Project>
<Project ProjectName="WitcherTools" Date="09.2021" PhotoAddress="Images/Projects/WitcherTools.png" PhotoDescription="Swagger Witcher Tools"
         Techs="new[] {Tech.RestApi, Tech.AspNet, Tech.UnitTests, Tech.Csharp, Tech.DotNet, Tech.Git, Tech.VisualStudio}"
         GithubAddress="https://github.com/Katarzyna-Kadziolka/WitcherTools" PhotoWidth="100%">
    Rest API, tools for the TTRPG The Witcher. It returns alchemical recipes.
</Project>
<Project ProjectName="Portfolio" Date="06.2021" PhotoAddress="Images/Projects/Portfolio.png" PhotoDescription="Portfolio"
         Techs="new[] {Tech.Html5, Tech.Css3, Tech.Bootstrap, Tech.Blazor, Tech.Csharp, Tech.DotNet, Tech.Git, Tech.Rider}"
         GithubAddress="https://github.com/Katarzyna-Kadziolka/Portfolio" PhotoWidth="100%">
    I created a portfolio that contains all my projects and skills. Everything was written using the new framework Blazor.
</Project>
<Project ProjectName="Athena" Date="06.2021" PhotoAddress="Images/Projects/athena_screen.png" PhotoDescription="Athena" 
         PhotoWidth="100%" Techs="new[] { Tech.Csharp, Tech.DotNet, Tech.Wpf, Tech.Git, Tech.VisualStudio}" 
         GithubAddress="https://github.com/MossPiglets/Athena">
    Athena is a desktop application that is used to manage your home library. It allows you to add, edit and delete books, 
    authors, series, publishers, and storage locations. Multiple categories can be assigned to a single book. A book search 
    bar is present, you can search not only by title. Athena also supports borrowing books and stores a list of borrows. 
    This is my first larger group project.
</Project>
<Project ProjectName="CatFacts.Net" Date="12.2020" PhotoAddress="Images/Projects/catfacts.png" PhotoDescription="CatFacts-Github"
         PhotoWidth="100%" Techs="new[] { Tech.Csharp, Tech.DotNet, Tech.UnitTests, Tech.Git, Tech.VisualStudio }" 
         GithubAddress="https://github.com/Katarzyna-Kadziolka/CatFacts.Net">
    CatFacts.Net is a client for the cat-facts API. It allows you to get random facts about cats. Through this project, 
    I wanted to learn how to work with the API. 
</Project>
<Project ProjectName="Chronos" Date="11.2020" PhotoAddress="Images/Projects/chronos.png" PhotoDescription="Chronos-in-Swagger" 
         Techs="new [] { Tech.Csharp , Tech.DotNet, Tech.AspNet, Tech.RestApi, Tech.UnitTests, Tech.Git, Tech.VisualStudio}"
         PhotoWidth="100%" GithubAddress="https://github.com/Katarzyna-Kadziolka/Chronos">
    Chronos is an API that can be used to create an application to manage your tasks. I learned ASP.Net based on this project. 
    The API supports tasks, deadlines, and task categories.  
</Project>
<Project ProjectName="TimeLibrary" Date="11.2020" PhotoAddress="Images/Projects/timelibrary.png" PhotoDescription="TimeLibrary-github"
         PhotoWidth="100%" Techs="new [] { Tech.Csharp , Tech.DotNet, Tech.UnitTests, Tech.Git, Tech.VisualStudio}" 
         GithubAddress="https://github.com/Katarzyna-Kadziolka/TimeLibrary">
    This is a library for storing time. It has options to add seconds, minutes and hours, overrides comparison operators. 
    It also contains tests.
</Project>
<Project ProjectName="Printy" Date="11.2020" PhotoAddress="Images/Projects/printy.gif" PhotoDescription="Printy-mobile" 
         Techs="new [] { Tech.Csharp , Tech.DotNet, Tech.AspNet, Tech.RestApi, Tech.Git, Tech.VisualStudio}" 
         PhotoWidth="auto" GithubAddress="https://github.com/Morasiu/PrintyAPI">
    Printy is a web app, which solves the problem of difficult access to printing spots. Printy allows any private person 
    to share his idle printer and earn some money from it. With Printy, customers can easily find and upload files to print 
    and then just go pick up it from the neighbor. Made at SheepYourHack 2. I was responsible for presentations and business 
    project development.
</Project>
<Project ProjectName="Cerebri" Date="11.2020" PhotoAddress="Images/Projects/Cerebri.gif" PhotoWidth="auto" PhotoDescription="Cerebri-gif"
         Techs="new [] { Tech.Csharp, Tech.DotNet, Tech.Wpf, Tech.Git, Tech.VisualStudio }" GithubAddress="https://github.com/Katarzyna-Kadziolka/PomodoroApp">
    Cerebri is a simple descope app for managing work and rests time in the Pomodoro system (4 focus sessions of 25 minutes each 
    interspersed with 5-minute breaks, followed by a longer 20-minute break). The app also can save tasks and tick them off.  
    While working on this application, I learned the basics of C# and WPF.
</Project>
<Project ProjectName="Cthulhu Character Wizard" Date="08.2020" PhotoAddress="Images/Projects/ct.png" PhotoWidth="100%" PhotoDescription="Cthulhu-windows"
         Techs="new [] { Tech.Python, Tech.TkInter, Tech.Git, Tech.VisualStudioCode }" GithubAddress="https://github.com/Katarzyna-Kadziolka/Cthulhu-character-wizard">
    Cthulhu Wizard Creator is a desktop application that facilitates the creation of researcher characters in the RPG Cthulhu. 
    It is possible to create the character yourself step by step, use the random function only on selected items, as well as 
    completely randomize the character. There are 111 professions to choose from. Each profession has its specifications, 
    according to the manual (7th edition of the game). 
</Project>