@page "/Projects"
@using Portfolio.Data

<div class="container mt-3">
    <div class="row">
        <div class="col-12 text-center">
            <h1>My projects!</h1>
        </div>
    </div>
</div>
<Project ProjectName="Athena" Date="05.2021" PhotoAddress="Images/Projects/athena_screen.png" PhotoDescription="Athena" 
         PhotoWidth="100%" Techs="new[] { Tech.Csharp, Tech.DotNet, Tech.Wpf, Tech.Git, Tech.VisualStudio}" 
         GithubAddress="https://github.com/MossPiglets/Athena">
    OPIsssisisisis
</Project>
<Project ProjectName="CatFacts.Net" Date="12.2020" PhotoAddress="Images/Projects/catfacts.png" PhotoDescription="CatFacts-Github"
         PhotoWidth="100%" Techs="new[] { Tech.Csharp, Tech.DotNet, Tech.UnitTests, Tech.Git, Tech.VisualStudio }" 
         GithubAddress="https://github.com/Katarzyna-Kadziolka/CatFacts.Net">
    trtrtr
</Project>
<Project ProjectName="Chronos" Date="11.2020" PhotoAddress="Images/Projects/chronos.png" PhotoDescription="Chronos-in-Swagger" 
         Techs="new [] { Tech.Csharp , Tech.DotNet, Tech.AspNet, Tech.RestApi, Tech.UnitTests, Tech.Git, Tech.VisualStudio}"
         PhotoWidth="100%" GithubAddress="https://github.com/Katarzyna-Kadziolka/Chronos">
    plplpl
</Project>
<Project ProjectName="TimeLibrary" Date="11.2020" PhotoAddress="Images/Projects/timelibrary.png" PhotoDescription="TimeLibrary-github"
         PhotoWidth="100%" Techs="new [] { Tech.Csharp , Tech.DotNet, Tech.UnitTests, Tech.Git, Tech.VisualStudio}" 
         GithubAddress="https://github.com/Katarzyna-Kadziolka/TimeLibrary">
    mlml
</Project>
<Project ProjectName="Printy" Date="11.2020" PhotoAddress="Images/Projects/printy.gif" PhotoDescription="Printy-mobile" 
         Techs="new [] { Tech.Csharp , Tech.DotNet, Tech.AspNet, Tech.RestApi, Tech.Git, Tech.VisualStudio}" 
         PhotoWidth="auto" GithubAddress="https://github.com/Morasiu/PrintyAPI">
    Printy
</Project>
<Project ProjectName="Cerebri" Date="11.2020" PhotoAddress="Images/Projects/Cerebri.gif" PhotoWidth="auto" PhotoDescription="Cerebri-gif"
         Techs="new [] { Tech.Csharp, Tech.DotNet, Tech.Wpf, Tech.Git, Tech.VisualStudio }" GithubAddress="https://github.com/Katarzyna-Kadziolka/PomodoroApp">
    Cerebri
</Project>
<Project ProjectName="Cthulhu Character Wizard" Date="08.2020" PhotoAddress="Images/Projects/ct.png" PhotoWidth="100%" PhotoDescription="Cthulhu-windows"
         Techs="new [] { Tech.Python, Tech.TkInter, Tech.Git, Tech.VisualStudioCode }" GithubAddress="https://github.com/Katarzyna-Kadziolka/Cthulhu-character-wizard">
    Cthulhu
</Project>